@font-face {
    font-family: willow;
    src: url(Willow.otf);
}

@font-face {
    font-family: honeymoon;
    src: url(Honeymoon.otf);

}

@font-face {
    font-family: writeSong;
    src: url(writeSong.ttf);
}

@font-face {
    font-family: hello;
    src: url(hello.otf);
}

@font-face {
    font-family: kasper;
    src: url(kasper.otf);
}

@font-face {
    font-family: Joke;
    src: url(Joke.ttf);
}

@font-face {
    font-family: cream;
    src: url(cream.otf);
}

@font-face {
    font-family: dream;
    src: url(Dream.otf);
}

.wd-50 {
    width: 70% !important;
    border-radius: 50% !important;
}

.wd-70{
    width: 55% !important;
}

.subtitulos {
    font-family: kasper;
    font-size: 3rem;
    color: #111f6e;
    font-weight: bold;
}

.text-prioridad{
    font-family: Joke;
    font-size: 1.5rem;
    color: #7D1E1E;
    font-weight: bold;
}

.width-card{
    width: 80% !important;
    border: 5px solid black !important;
    background-color: #ffffff !important;
    border-radius: 20px !important;
}

.footer{
    font-family: writeSong !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    margin-top: 50px;
}

.titulo-card{
    font-family: dream !important;
    color: black !important;
    font-size: 2.4rem !important;
}

.lista-tareas{
    border: 5px solid black !important;
    border-radius: 20px !important;
    margin-right: 15px;
    width: 300px !important;
    height: 200px !important;
}

.sub-text{
    font-family: dream;
    font-size: 1.5rem;
    color: red !important;
    font-weight: bold
}

.contadores{
    color: black !important;
    font-family: dream !important;
    font-size: 1.7rem !important;
}

@keyframes reveal {
	from { transform: scale(0.001); }
	to { transform: scale(1); }
  }

@keyframes slide {
	to { transform: translateX(1.5em) }
}

@media(min-width: 200px){
    .lista-tareas{
        border: 5px solid black !important;
        border-radius: 20px !important;
        margin-right: 15px;
        width: 300px !important;
        height: 220px !important;
    }
} 

@media(min-width: 500px){
    .lista-tareas{
        border: 5px solid black !important;
        border-radius: 20px !important;
        margin-right: 15px;
        width: 300px !important;
        height: 220px !important;
    }
}

@media(min-width: 750px){
    .lista-tareas{
        border: 5px solid black !important;
        border-radius: 20px !important;
        margin-right: 15px;
        width: 300px !important;
        height: 220px !important;
    }
} 

@media(min-width:870px) {
    .grid{
        column-count: 4;
        max-width: 1200px;
    }
}
@media(min-width:1150px){
    .grid{
        column-count: 5;
        max-width: 1200px;
    }

    .width-card{
        width: 70% !important;
        border: 5px solid black !important;
        background-color: #ffffff !important;
        border-radius: 20px !important;;
    }

    .wd-50 {
        width: 70% !important;
        border-radius: 50% !important;
    }
    .wd-70{
        width: 55% !important;
        margin-top: 1.5rem !important;
    }
}

.btn-color{
    background-color: goldenrod !important;
    border: 1px solid #F2E5D9 !important;
    color: white !important;
    border-radius: 10px !important;
    text-transform: uppercase !important;
    cursor: pointer;
}


.btn-agregar{
    background-color: rgb(76, 207, 43) !important;
    border: 1px solid #F2E5D9 !important;
    color: white !important;
    border-radius: 10px !important;
    text-transform: uppercase !important;
    cursor: pointer;
}